<div class="container-fluid" style="max-width:1000px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_2Way.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Two Frontage</h5>
                    <p class="card-text">The lot has frontage on two sides, typically facing two different streets or roadways</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Zoning</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_3Way.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Three Frontage</h5>
                    <p class="card-text">The lot has frontage on three sides, often facing three different streets or roadways</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Zoning</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_Corner.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Corner</h5>
                    <p class="card-text">The lot is located at the corner of two intersecting streets, providing more than one street frontage</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Zoning</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_Culdesac.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cul-de-Sac</h5>
                    <p class="card-text">A Cul-de-Sac neighbourhood is situated at the end of a dead-end street or in a cul-de-sac, which typically means less traffic and a quieter location</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Zoning</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Loc_Inside.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Inside</h5>
                    <p class="card-text">The lot is located within a block or within a neighborhood and does not have any special frontage characteristics like being on a corner or a cul-de-sac</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Zoning</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>

<br />
<br />

@code {

}
