@using Homsin.Service;

@inject HouseIntelService HouseIntelService

@if (!string.IsNullOrEmpty(_errorMessage))
{
    <div class="container-fluid" style="background-color:#BB6B00; padding-top:20px; padding-bottom:20px;">
        <div class="row">
            <div class="col-sm-10">
                @_errorMessage
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <br/>
    <br/>
}

<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <label for="yearbuilt">Year Built</label>
            <input type="number" class="form-control" id="yearbuilt" @bind="_yearBuilt">
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="form-group">
            <label for="yearren">Year Renovated</label>
            <input type="number" class="form-control" id="yearren" aria-describedby="yearren" @bind="_yearRemodAdd">
            <small id="yearren" class="form-text text-muted">If the house is not renovated, then leave blank or enter the built year</small>
        </div>

    </div>

    <br />

    <div class="row">
        <div class="form-group">
            <label for="BsmtFinSF2">Finished Basement Area in Sqrft</label>
            <div class="input-group">
                <input type="number" class="form-control" id="BsmtFinSF2" aria-describedby="BsmtFinSF2" @bind="_bsmtFinSF2">
                <div class="input-group-append">
                    <span class="input-group-text">sqft</span>
                </div>
            </div>
            <small id="BsmtFinSF2" class="form-text text-muted">
                This field represents the total finished square footage
                of a second area within the basement of a property.
                In some houses, the basement may have multiple finished areas,
                and this field quantifies the square footage of the second finished space
            </small>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="form-group">
            <label for="TotalBsmtSF">Basement Area in Sqrft</label>
            <div class="input-group">
                <input type="number" class="form-control" id="TotalBsmtSF" aria-describedby="TotalBsmtSF" @bind="_totalBsmtSF">
                <div class="input-group-append">
                    <span class="input-group-text">sqft</span>
                </div>
            </div>
            <small id="TotalBsmtSF" class="form-text text-muted">
                This field represents the total square footage of the entire basement
                in a property. It includes all finished and unfinished areas within the
                basement, providing the overall size of the basement in square feet.
                This is an essential metric for assessing the size and utility of the
                basement space in a property
            </small>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="form-group">
            <label for="larea">Land Area</label>
            <div class="input-group">
                <input type="number" class="form-control" id="larea" aria-describedby="larea" @bind="_lotArea">
                <div class="input-group-append">
                    <span class="input-group-text">sqft</span>
                </div>
            </div>
        </div>


    </div>

    <br/>

    <div class="row">
        <div class="form-group">
            <label for="OverallCond" class="form-label">Overall Condition: Good</label>
            <input type="range" class="form-range" min="1" max="10" step="1" id="OverallCond" @bind="_overallCond">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <span style="color:#BB6B00;">Bad</span>
        </div>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-2">
            <span style="color:#BB6B00;text-align: center;">Intermediate</span>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-1">
            <span style="color:#BB6B00; text-align: right;">Good</span>
        </div>
    </div>
    <br/>
</div>

<br />
<br />
<br />
<br />
<br />
<br />


<div class="container-fluid" style="background-color:#4C86A8;
    padding-top:20px;
    padding-bottom:20px;
    position: fixed;
    bottom: 0;
    width: 100%;">
    <div class="row">
        <div class="col-sm-10">
            Get an Estimation for your House, Appartment,... &nbsp; <button @onclick="PrefSelected" type="button" class="btn btn-outline-info"><img width="24" height="24" src="@(isResult ? "https://img.icons8.com/fluency/24/000000/checkmark--v1.png" : "https://img.icons8.com/fluency/48/uncheck-all.png")" alt="active-state" />&nbsp; Verify Information</button>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</div>

@code 
{
    private bool isResult { get; set; } = false;

    private float _mSSubClass { get; set; }
    private float _lotArea { get; set; }
    private float _overallCond { get; set; }
    private float _yearBuilt { get; set; }
    private float _yearRemodAdd { get; set; }
    private float _bsmtFinSF2 { get; set; }
    private float _totalBsmtSF { get; set; }

    private string _errorMessage { get; set; }

    private void PrefSelected()
    {
        //Validation Code : Sevierity -> Error
        if (_yearBuilt > DateTime.Now.Year)
        {
            _errorMessage = "Abnormal Year Built";
        }
        else if (_yearRemodAdd > DateTime.Now.Year)
        {
            _errorMessage = "Abnormal Year Renovated";
        }
        else if (_yearRemodAdd < _yearBuilt)
        {
            _errorMessage = "Renovated Year cannot be older than Built Year";
        }
        else if (_yearBuilt < 1500)
        {
            _errorMessage = "The built year is too old and needs a seperate valuation service for ancient or historical buildings";
        }
        else if (_totalBsmtSF < 10)
        {
            _errorMessage = "The built area is too small";
        }
        else if (_bsmtFinSF2 < 10)
        {
            _errorMessage = "The finished Basement area is too small";
        }
        else if (_lotArea < 10)
        {
            _errorMessage = "The Land area is too small";
        }
        else
        {
            try
            {
                HouseIntelService.housePrice.yearBuilt = _yearBuilt;
                HouseIntelService.housePrice.yearRemodAdd = _yearRemodAdd;
                HouseIntelService.housePrice.bsmtFinSF2 = _bsmtFinSF2;
                HouseIntelService.housePrice.totalBsmtSF = _totalBsmtSF;
                HouseIntelService.housePrice.lotArea = _lotArea;
                HouseIntelService.housePrice.overallCond = _overallCond;
                HouseIntelService.housePrice.yearBuilt = _yearBuilt;

                HouseIntelService.currentWizardPage = 5;
                _errorMessage = string.Empty;
                isResult = true;
            }
            catch (Exception _valError)
            {
                _errorMessage = _valError.Message;
            }

        }

        StateHasChanged();
    }

}
