<div class="jumbotron" style="background-color:#4C86A8; padding-left:10px;" >
    <br />
    <h1 class="display-4" style="color:#EDE3E9;">Homsin Estimations</h1>
    <p class="lead">Please Wait...</p>
    <hr class="my-4">
    <p style="color:#EDE3E9;">Your home price estimate is loading – your financial insight is just moments away!</p>
    <p>Generating Report</p>
    <br />
</div>


@code {

}
