<div class="container-fluid" style="max-width:1000px;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_Asb.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Asbestos</h5>
                    <p class="card-text">Asphalt shingle siding, common in roofing materials, offering a cost-effective and versatile choice for exterior cladding</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_Brick.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Brick Face</h5>
                    <p class="card-text">Brick-faced exterior, combining the strength of brick with other construction materials for a balanced finish and a classic Finish.</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_CBoard.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cement Board</h5>
                    <p class="card-text">Cement board siding, a durable and moisture-resistant option that emulates the look of wood or stucco</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_Cinder.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Cinder Block</h5>
                    <p class="card-text">Cinder block siding, composed of concrete blocks, providing durability and structural support</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_HardBoard.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hard Board</h5>
                    <p class="card-text">Hardboard is a natural wood siding. Hardboard is a engineered wood siding with versatility in design</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_ImitStucco.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Synthetic Stucco</h5>
                    <p class="card-text">Synthetic alternative to traditional stucco, offering similar aesthetics with added durability</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_Metal.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Metal Sliding</h5>
                    <p class="card-text">Metal siding, modern and resilient, commonly used for contemporary architectural designs</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_Plywood.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Plywood</h5>
                    <p class="card-text">Plywood siding, providing structural integrity and serving as an exterior sheathing material</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_Stucco.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Stucco</h5>
                    <p class="card-text">Plaster-like material that lends a classic Mediterranean or Southwestern look</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_VinylSliding.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Vinyl Sliding</h5>
                    <p class="card-text">Vinyl siding, low-maintenance and cost-effective with a range of design options</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_WoodSliding.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Wood Sliding</h5>
                    <p class="card-text">Wood siding, offering a natural and warm appearance, often used for a traditional or rustic look</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_WoodShingles.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Wood Shingles</h5>
                    <p class="card-text">Provides a distinctive appearance and is commonly associated with coastal and cottage-style homes</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_StoneWall.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Stone Wall</h5>
                    <p class="card-text">The lot has frontage on two sides, typically facing two different streets or roadways</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets/cards/Ext_BrickWall.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Brick Wall</h5>
                    <p class="card-text">A traditional and sturdy, used for a classic and timeless look. The Wall is usually rendered.</p>
                    <a href="#" class="btn btn-info"><img width="24" height="24" src="https://img.icons8.com/fluency/24/checkmark--v1.png" alt="checkmark--v1" /> &nbsp Select Exterior</a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
        </div>
    </div>
</div>
<br />
<br />

@code {

}
