<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="">Homsin</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/dashboard-layout.png" alt="dashboard-layout" /> &nbsp; Home
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Housing/Library">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/downtown.png" alt="dashboard-layout" /> &nbsp; Housing
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="Housing/Estimations">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/tags.png" alt="dashboard-layout" /> &nbsp; Estimation
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/Housing/Ads">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/web-advertising.png" alt="dashboard-layout" /> &nbsp; Ads
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/Housing/More">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/maintenance--v1.png" alt="dashboard-layout" /> &nbsp; More
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/dashboard-layout.png" alt="dashboard-layout" /> &nbsp; Fetch data
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/Messages">
				<img width="24" height="24" src="https://img.icons8.com/fluency/48/topic.png" alt="topic" /> &nbsp; Messages
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="/Stock/Feed">
				<img width="24" height="24" src="https://img.icons8.com/fluency/24/stocks-growth--v1.png" alt="stocks-growth--v1" /> &nbsp; Stock Market
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
