 @page "/Messages"

 <br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="list-group" style="position: fixed;">
                <a href="#" class="list-group-item list-group-item-action active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi</a>
                <a href="#" class="list-group-item list-group-item-action">HuMorbipasfa</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum</a>
            </div>
        </div>
        <div class="col-1">
        </div>
        <div class="col-8">
            <ChatHead></ChatHead>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

@code {

}
