<div class="card">
    <div class="card-header" style="background-color:#BB6B00;color:#EDE3E9;">
        User2
    </div>
    <div class="card-body">
        <p class="card-text">Sample Message goes here like this. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />

<div class="card">
    <div class="card-header" style="text-align: right; background-color:#4C86A8; color:#EDE3E9;">
        User1
    </div>
    <div class="card-body" style="text-align: right;">
        <p class="card-text">Sample Message from myself seperated by conditional statemetns. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />

<div class="card">
    <div class="card-header" style="background-color:#BB6B00;color:#EDE3E9;">
        User2
    </div>
    <div class="card-body">
        <p class="card-text">Sample Message goes here like this. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />

<div class="card">
    <div class="card-header" style="text-align: right; background-color:#4C86A8; color:#EDE3E9;">
        User1
    </div>
    <div class="card-body" style="text-align: right;">
        <p class="card-text">Sample Message from myself seperated by conditional statemetns. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />
<div class="card">
    <div class="card-header" style="background-color:#BB6B00;color:#EDE3E9;">
        User2
    </div>
    <div class="card-body">
        <p class="card-text">Sample Message goes here like this. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />

<div class="card">
    <div class="card-header" style="text-align: right; background-color:#4C86A8; color:#EDE3E9;">
        User1
    </div>
    <div class="card-body" style="text-align: right;">
        <p class="card-text">Sample Message from myself seperated by conditional statemetns. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />
<div class="card">
    <div class="card-header" style="background-color:#BB6B00;color:#EDE3E9;">
        User2
    </div>
    <div class="card-body">
        <p class="card-text">Sample Message goes here like this. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />

<div class="card">
    <div class="card-header" style="text-align: right; background-color:#4C86A8; color:#EDE3E9;">
        User1
    </div>
    <div class="card-body" style="text-align: right;">
        <p class="card-text">Sample Message from myself seperated by conditional statemetns. like this sample message populated by the message list</p>
    </div>
</div>

<br />
<br />
<hr/>
<br/>

<div class="card">
    <div class="card-header" style="background-color:#BB6B00;color:#EDE3E9;">
        User2: New Message
    </div>
    <div class="card-body">
            <div class="form-group">
                <input type="text" class="form-control" id="messagePrompt" placeholder="">
            </div>
            <br/>
        <button type="button" class="btn btn-outline-info"> <img width="24" height="24" src="https://img.icons8.com/fluency/24/filled-sent.png" alt="filled-sent" /> </button>
    </div>
</div>

<br />
<br />


@code {

}
