@page "/Stock/Predict"

@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject FinanceService FinanceService

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Stock/Feed">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Stock/Predict">Predictions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Stock/History">History</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" style="background-color:#4C86A8;">
    <br />
    <h3 style="color:#EDE3E9;">Homsin Stock Preditions</h3>
    <br />
    <div class="row">
        <div class="form-group">
            <label for="stockselect"style="color:#EDE3E9; font-size:large;">Stock</label>            
            <select class="form-select" @bind="stockindex" aria-label="stockselect">
                @foreach (var stock in Enum.GetValues(typeof(Stock)))
                {
                    <option value="@((int)stock)">@stock</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="form-group">
            <label for="preddate" style="color:#EDE3E9;font-size:large;">Date to Predict</label>
            <input type="date" @bind="datein" class="form-control" id="preddate">
        </div>
    </div>

    <br />
</div>

<br />

<div class="container-fluid">
    <div class="row">
            <div class="form-group">
                <button class="btn btn-outline-info" @onclick="GetPredictions"><img width="24" height="24" src="https://img.icons8.com/fluency/24/scatter-plot.png" alt="candle-sticks" />&nbsp; Get Predictions</button>
            </div>
    </div>
</div>

<br />
<br />

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Close</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cls in stockPrices)
            {
            <tr>
                    @if (cls.Key < datein)
                    {
                        <td>@cls.Key</td>
                        <td>@cls.Value</td>
                    }

            </tr>
            }
        </tbody>
    </table>

</div>

@code 
{
    //InPage Data
    private float[] stockprices { get; set; }
    private Dictionary<DateTime, float> stockPrices = new Dictionary<DateTime, float>();
    private DateTime datein { get; set; } = DateTime.Now;
    private int stockindex { get; set; }

    private async void GetPredictions()
    {
        var stockpred = await FinanceService.GetStockPredict(stockindex.ToString());

        if (stockpred != null)
        {
            // The datasets last days is 11/Nov/2023
            DateTime startDate = new DateTime(2023, 11, 01);

            // Populate the dictionary with DateTime and stock prices
            for (int i = 0; i < stockpred.Length; i++)
            {
                DateTime currentDate = startDate.AddDays(i);
                stockPrices[currentDate] = stockpred[i];
            }
        }

        StateHasChanged();
    }
}
