@page "/Stock/Feed"

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Housing/Library">Feed</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/Housing/Estimations">Predictions</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Housing/Ads">History</a>
            </li>
        </ul>
    </div>
</nav>
@code {

}
