@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject EstimateService EstimateService
@inject EstimatesDataService EstimatesDataService

@if (!estimates.Any())
{
    <p>Loading...</p>
}
else
{
    <div class="container-fluid">
        @foreach (var estm in estimates)
        {
            <div class="list-group">
                <a href="/Housing/Estimates/Detailed?EstID=@estm.EsID" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@estm.heading</h5>
                        <small>Starting at @estm.sellprice</small>
                    </div>
                    <p class="mb-1">@estm.content</p>
                    <small>@estm.content</small>
                </a>
            </div>
            <br />
        }
    </div>
}

@code
{
    List<Estimate> estimates { get; set; } = new();
    private string _ErrorMessage { get; set; } = "";

    protected override async void OnInitialized()
    {
        estimates = await EstimatesDataService.GetAsync();
        StateHasChanged();
    }
}
