@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject FeedService FeedService

<div class="container-fluid">
    @if(!Feeds.Any())
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var feed in Feeds)
        {
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@feed.heading</h5>
                        <small>@feed.datePosted</small>
                    </div>
                    <p class="mb-1">@feed.content</p>
                    <small>@feed.description</small>
                </a>
            </div>
            <br />
        }
    }

</div>
@code
{
    List<Feed> Feeds { get; set; } = new();
    private string _ErrorMessage { get; set; } = "";

    protected override async void OnInitialized()
    {
        Feeds = await FeedService.GetFeeds();
        _ErrorMessage = FeedService._ErrorMessage;
        StateHasChanged();
    }
}