@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject EstimateService EstimateService
@inject AuthenticationService AuthenticationService

<div class="container-fluid">
    @foreach (var myest in myests)
    {
        <div class="list-group">
            <a href="/Housing/Estimates/Detailed" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@myest.heading</h5>
                    <small>@myest.sellprice</small>
                </div>
                <p class="mb-1">@myest.content</p>
                <small>@myest.description</small>
            </a>
        </div>
        <br />
    }
</div>
@code
{
    List<Estimate> myests { get; set; } = new();
    private string _ErrorMessage { get; set; } = "";

    protected override async void OnInitialized()
    {
        List<Estimate> AllEstimates = await EstimateService.GetEstimates();
        _ErrorMessage = EstimateService._ErrorMessage;

        foreach (var est in AllEstimates)
        {
            if (est.username == AuthenticationService.Username)
            {
                myests.Add(est);
            }
        }
        StateHasChanged();
    }
}
