@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject FeedDataService FeedDataService
@inject AuthenticationService AuthenticationService

<div class="container-fluid">
    @foreach (var myfeed in myfeeds)
    {
        <div class="list-group">
            <a href="/Housing/MyPost/Detailed?FeID=@myfeed.FeID" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@myfeed.heading</h5>
                    <small>@myfeed.datePosted</small>
                </div>
                <p class="mb-1">@myfeed.content</p>
                <small>@myfeed.description</small>
            </a>
        </div>
        <br />
    }
</div>

@code
{
    List<Feed> myfeeds { get; set; } = new();
    private string _ErrorMessage { get; set; } = "";

    protected override async void OnInitialized()
    {
        List<Feed> AllFeeds = await FeedDataService.GetAsync();

        foreach (var feed in AllFeeds)
        {
            if (feed.username == AuthenticationService.Username)
            {
                myfeeds.Add(feed);
            }
        }
        StateHasChanged();
    }
}
