@using HomeStreetInvest.Model;
@using Homsin.Service;

@inject AdService AdService
@inject AdDataService AdDataService
@inject AuthenticationService AuthenticationService


<div class="container-fluid">
    @if (!myads.Any())
    {
        <p>Loading...</p>
    }
    else
    {
        @foreach (var myad in myads)
        {
            <div class="list-group">
                <a href="/Housing/Ads/Detailed?adID=@myad.AdID" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">@myad.heading</h5>
                        <small>@myad.datePosted</small>
                    </div>
                    <p class="mb-1">@myad.content</p>
                    <small>@myad.description</small>
                </a>
            </div>
            <br />
        }
    }

</div>
@code
{
    List<Advertisment> myads { get; set; } = new();
    private string _ErrorMessage { get; set; } = "";

    protected override async void OnInitialized()
    {
        List<Advertisment> AllAdsList = await AdDataService.GetAsync();

        foreach (var ad in AllAdsList)
        {
            if (ad.username == AuthenticationService.Username)
            {
                myads.Add(ad);
            }
        }
        StateHasChanged();
    }
}
