@page "/Loader"

<div class="CenterHolder">
    <img class="CenterImage" src="Assets/Loader.gif" />
</div>

<style>
    body{
        animation: ChangeBackColor 4s infinite; /* Adjust the duration as needed */
    }
</style>
@code {

}
